## Adapt a Queue test verification

I cover the program with both functional testing and structrual testing.

- functional testing is done by QueueTest.java
I test the Queue with three types of object, Integer, String and Boolean.
The three methods work well.

- structrual testing is done by QueueAdapterTest.java
The methods work well, and I cover the boundary cases of the input. 
Make sure most of the branches are covered.

So the test should be sufficient.
